@model CsvViewModel
@{ 
    ViewData["Title"] = "Index";
    ViewData["ac"] = "Index";
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <span asp-validation-for="Csv"></span>
    <input type="file" accept=".csv" required="required" asp-for="Csv"/>
    <button formmethod="post">Update</button>
</form>

