@model Shop.ViewModels.LogInViewModel

@{
    ViewData["Title"] = "LogIn";
}

<div class="text-center mb-5">
    <h1>Log In</h1>
</div>

<div class="row justify-content-xl-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" formmethod="post" />
            </div>
        </form>
    </div>
</div>

<div class="text-center mt-5">
    <a asp-action="SignIn">Create a new Account</a>
</div>