
@{
    ViewData["Title"] = "Index";
}


    <div class="text-danger bg-light"></div>
    <div>
        <div class="card-deck input-group-text">
            <label class="float-left">Product Name:</label>
            <div class="col-md float-left">
                <input type="text" class="w-100" autocomplete="off" id="suggst" />
                <div id="suggesstion"></div>
            </div>

            <label class="float-left">Product Quantity:</label>
            <div class="col-md float-left">
                <input type="text" class="w-100" autocomplete="off" id="amt"/>
            </div>
            <button class="float-right" id="add">Add</button>
        </div>
    </div>
    <script>
    var c = document.getElementById("suggst");
    var a = document.getElementById("add");
    var t = document.getElementById("amt");

    c.addEventListener("keyup", call);
    c.addEventListener("paste", call);
    a.onclick = function () {
        $.ajax("https://localhost:44301/api/Checkout?productName=" + c.value + "&Quentati=" + t.value)
            .done(function (data) {
                console.log(data);
            })
    };
    </script>